name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Use Node.js 18
        uses: actions/setup-node@v6.1.0
        with:
          node-version: '22.x'
      - name: Install dependencies
        run: npm install 
      - name: Build Angular Apps
